/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  font-family: Arial, sans-serif;
  background-color: #F8F9FA;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #F8F9FA;
  color: #333;
  transition: border-color 0.3s;
}
input[type="text"]:focus,
textarea:focus {
  border-color: #2c2b2a;
  outline: none;
}
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #8d326e;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #d1c9d2;
}

.task-list {
color: #111011;
}
